table {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
    border-color: black;
}

caption {
    text-align: center;
    caption-side: bottom;
}

table th {
    padding: 1.5rem;
}

table thead tr:first-child {
    background-color: rgb(4, 7, 66);
    color: white;
    font-size: larger;
}

table thead tr:last-child {
    background-color: rgb(40, 64, 126);
    color: white;
    font-size: large;
}

table thead tr:last-child th:first-child {
    background-color: rgb(4, 7, 66);
}

table tbody tr:nth-child(even) {
    background-color: rgb(162, 162, 162);
}

table tbody th {
    border: 1px black;
    font-size: large;
}

table td {
    text-align: center;
    padding: 1rem;
    border: 1px black;
}