body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #69A7C0;
}

header {
    background-color: #294B58;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 100px;
}

/*Home page*/
.banner {
    background-color: #ffc107;
    padding: 20px;
    text-align: center;
    height: 5px;
}

.logo {
    width: 100px;
    height: auto;
    background-color: #69A7C0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: large;
    margin-left: 20px;
    margin-bottom: 50px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #f5f5f5;
    color: black;
}

#menu-button {
    display: none;
}

.home-page {
    background: linear-gradient(to bottom, #f5f5f5, #b9d6e3);
    margin-top: -50px;
}

.homepage-rentals h1 {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #294B58;
    margin: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.516);
    padding: 5px;
    border-radius: 5px;
    font-size: 150px;
}

.home-page h2,
p {
    color: #294B58;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-video {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.hero-video video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.weather {
    position: absolute;
    top: 300px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.692);
    color: #294B58;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    max-width: 300px
}

.temp-max-message {
    background-color: #FF8066;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#tempMaxText,
#temperature {
    display: block;
}

.temp-max-message button {
    background: none;
    border: none;
    color: inherit;
    float: right;
    cursor: pointer;
}

#temperature-info,
.forecast {
    text-align: center;
}

.close-button {
    padding: 0;
}

.about-us {
    background-color: #294b5870;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    font-size: 1.1em;
    width: 85%;
}

.about-us h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 0.5em;
}

.about-us p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.cards h2 {
    text-align: center;
    font-size: 40px;
}

.cards p {
    font-size: 25px;
}

.cards section {
    flex-basis: calc(33.333% - 40px);
    margin: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.book-now-button {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-now-button:hover,
.book-now-button:focus {
    background-color: #FF8066;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/*rentals*/

.rental-hero-img a {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.rental-hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.rental-hero-img a:hover {
    background-color: #FF8066;
}

.rentals h1 {
    display: block;
    margin-bottom: 5px;
}

.rentals a {
    font-size: 0.8em;
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.rental-hero-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
}

.rental-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.rental-cards section {
    flex-basis: 20%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.rental-cards img {
    max-width: 80%;
    height: auto;
    opacity: 0.9;
}

#rental-pricing {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

#rental-pricing th,
#rental-pricing td {
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

#rental-pricing th {
    background-color: #f2f2f2;
}

#rental-pricing tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*reservations*/
.reservations-main {
    color: #294B58;
    padding: 20px;
    background: linear-gradient(to bottom, #f5f5f5, #b9d6e3);
}

.reservation-form {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 5px;
    width: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #ffc107;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #FF8066;
}

/*contact us*/
.contactus-main {
    color: #294B58;
    padding: 20px;
    background: linear-gradient(#f5f5f5, #b9d6e3);
}

.contactus-form {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #294B58;
}

.contactus-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.contactus-form legend {
    font-size: 1.5rem;
    color: #294B58;
    margin-bottom: 1em;
    text-align: center;
}

.contactus-form label {
    display: block;
    margin-bottom: 0.5em;
    color: #294B58;
}

.contactus-form input[type="text"],
.contactus-form input[type="email"],
.contactus-form textarea {
    width: 95%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactus-form input[type="submit"] {
    display: block;
    background-color: #ffc107;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.contactus-form input[type="submit"]:hover {
    background-color: #FF8066;
}

.locations iframe {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin: 1em auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.locations h2 {
    text-align: center;
    font-size: 1.5rem;
    background-color: #3c6e7144;
    color: #294B58;
    margin: 1em;
}

/*record*/
.record-main {
    font-family: 'Arial', sans-serif;
    text-align: center;
    width: 1000px;
    height: 445px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(#f5f5f5, #b9d6e3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.record-main h1 {
    color: #FF8066;
    font-size: 6em;
}

.record-main p {
    color: #294B58;
    font-size: 2em;
    line-height: 1.6;
    margin-top: 10px;
}

/*thank you*/
.thankyou-main {
    font-family: 'Arial', sans-serif;
    text-align: center;
    width: 1000px;
    height: 445px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(#f5f5f5, #b9d6e3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thankyou-main h1 {
    color: #FF8066;
    font-size: 6em;
}

.thankyou-main p {
    color: #555;
    font-size: 2em;
    line-height: 1.6;
    margin-top: 10px;
}


/*footer*/
footer {
    background-color: #294B58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.footer-info,
.social-media {
    display: flex;
    align-items: center;
}

.social-media img {
    margin-left: 10px;
}

.footer-info p,
.footer-info span {
    color: white;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .logo {
        margin-bottom: 5px;
        width: 50px;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        display: block;
        background-color: #294B58;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    /* Style the menu button for mobile */
    #menu-button {
        display: block;
        /* Show the button */
        background: none;
        border: none;
        color: white;
        font-size: 2em;
        /* Adjust size as needed */
        cursor: pointer;
    }

    /* You can remove the padding from the ul element so it does not add space around the displayed menu items */
    nav ul li {
        padding: 0;
    }

    /* Style for the li elements in the active menu */
    nav ul.active li {
        padding: 10px;
        /* Add some padding around each item */
        border-bottom: 1px solid #f5f5f5;
        /* Optional: add a border between items */
    }

    nav ul.active li:last-child {
        border-bottom: none;
        /* Remove border from the last item */
    }

    nav ul.active li a {
        color: white;
    }

    nav ul.active li a:hover,
    nav ul.active li a.active {
        background-color: #3c6e71;
        /* Lighten the background on hover */
    }

    .banner {
        font-size: .8em;
    }

    .home-page {
        margin-top: 0;
    }

    main h1 {
        top: 200px;
        transform: translateX(-50%);
        width: 200px;
        font-size: 3em;
    }

    .hero-video {
        height: 200px;
    }

    .hero-video video {
        height: 100%;
    }

    .weather {
        position: static;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .about-us {
        margin-top: 20px;
        text-align: left;
        font-size: 1em;
        width: 90%;
    }

    .cards {
        display: block;
    }

    .cards section {
        width: 90%;
        margin: 20px auto;
    }

    .cards img {
        width: 300px;
        justify-content: center;
    }

    .book-now-button {
        font-size: 1em;
    }

    footer .footer-info,
    footer .social-media {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    footer .social-media img {
        width: 30px;
        /* Adjust the size of the images */
        height: 30px;
        margin: 0 10px;
        /* Space out the images */
    }

    .footer-info {
        order: 2;
        /* Put the social media icons on top */
    }

    .social-media {
        order: 1;
        margin-bottom: 20px;
    }
}