body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #69A7C0;
}

header {
    background-color: #294B58;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 200px;
}

/*Home page*/
.banner {
    background-color: #ffc107;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    background-color: #69A7C0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: large;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #f5f5f5;
    color: black;
}

.menu-button {
    display: none;
}

.home-page {
    background: linear-gradient(to bottom, #f5f5f5, #b9d6e3);
    margin-top: -50px;
}

main h1 {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #294B58;
    font-size: 3em;
    margin: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.516);
    padding: 10px;
    border-radius: 5px;
    font-size: 200px;
}

.home-page h2,
p {
    color: #294B58;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-video {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.hero-video video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.weather {
    position: absolute;
    top: 300px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #294B58;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    max-width: 200px
}

.temp-max-message {
    background-color: #FF8066;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#tempMaxText,
#temperature {
    display: block;
}

.temp-max-message button {
    background: none;
    border: none;
    color: inherit;
    float: right;
    cursor: pointer;
}

.close-button {
    padding: 0;
}

.about-us {
    background-color: #294b5870;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    font-size: 1.1em;
    width: 85%;
}

.about-us h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 0.5em;
}

.about-us p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.cards h2 {
    text-align: center;
    font-size: 40px;
}

.cards p {
    font-size: 25px;
}

.cards section {
    flex-basis: calc(33.333% - 40px);
    margin: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.book-now-button {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-now-button:hover,
.book-now-button:focus {
    background-color: #FF8066;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #294B58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.footer-info,
.social-media {
    display: flex;
    align-items: center;
}

.social-media img {
    margin-left: 10px;
}

.footer-info p,
.footer-info span {
    color: white;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
    }

    .logo {
        margin-bottom: 5px;
        width: 50px;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        display: block;
        background-color: #294B58;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 10;
    }

    /* Style the menu button for mobile */
    #menu-button {
        display: block;
        /* Show the button */
        background: none;
        border: none;
        color: white;
        font-size: 2em;
        /* Adjust size as needed */
        cursor: pointer;
    }

    /* You can remove the padding from the ul element so it does not add space around the displayed menu items */
    nav ul li {
        padding: 0;
    }

    /* Style for the li elements in the active menu */
    nav ul.active li {
        padding: 10px;
        /* Add some padding around each item */
        border-bottom: 1px solid #f5f5f5;
        /* Optional: add a border between items */
    }

    nav ul.active li:last-child {
        border-bottom: none;
        /* Remove border from the last item */
    }

    nav ul.active li a {
        color: white;
    }

    nav ul.active li a:hover,
    nav ul.active li a.active {
        background-color: #3c6e71;
        /* Lighten the background on hover */
    }

    .banner {
        font-size: .8em;
    }

    .home-page {
        margin-top: 0;
    }

    main h1 {
        top: 200px;
        transform: translateX(-50%);
        width: 200px;
        font-size: 3em;
    }

    .hero-video {
        height: 200px;
    }

    .hero-video video {
        height: 100%;
    }

    .weather {
        position: static;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .about-us {
        margin-top: 20px;
        text-align: left;
        font-size: 1em;
        width: 90%;
    }

    .cards {
        display: block;
    }

    .cards section {
        width: 90%;
        margin: 20px auto;
    }

    .cards img {
        width: 300px;
        justify-content: center;
    }

    .book-now-button {
        font-size: 1em;
    }

    footer .footer-info,
    footer .social-media {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    footer .social-media img {
        width: 30px;
        /* Adjust the size of the images */
        height: 30px;
        margin: 0 10px;
        /* Space out the images */
    }

    .footer-info {
        order: 2;
        /* Put the social media icons on top */
    }

    .social-media {
        order: 1;
        margin-bottom: 20px;
    }
}