@media (min-width: 901px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    header,
    footer {
        text-align: left;
        padding: 1rem 10%;
    }

    nav ul {
        text-align: right;
    }
}