@media only screen and (max-width: 767px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }

    .card {
        margin-bottom: 20px;
    }
}