@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Shadows+Into+Light&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f5f3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#profile {
    width: 200px;
    max-width: 250px;
    height: 275px;
    margin-right: 20px;
}

h1 {
    color: #333;
    margin-top: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #da7c7c;
    padding: 10px;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 10px;
    text-decoration: none;
    color: #f9f5f3;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.card {
    background-color: #f9f5f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    color: #572727;
}

.card li {
    margin-bottom: 8px;
}

.card a {
    color: #572727;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

footer {
    background-color: #da7c7c;
    color: #f9f5f3;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}