@media screen and (min-width: 40rem) {
    main {
        max-width: 1250px;
        margin: 0 auto;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    section {
        margin: 0.25rem;
    }
}